.imgContainerimgContainer {
    position: relative;
}

.imgContainer > img {
    position: absolute;
    top: 0;
    left: 0;
}

img.originalImg {
    left: 0;
    top: 0;

    animation: svg-glitch-move-effect 5s infinite step-end alternate-reverse;
}

img.filterImg {
     clip-path: inset(100% 100% 100% 100%);
}

.imgContainer img.filterImg:nth-of-type(2) {
    top: -16px;
    left: -16px;
    animation: svg-glitch-effect-1 5s infinite step-end alternate-reverse;
}

.imgContainer img.filterImg:nth-of-type(3) {
    top: 16px;
    left: 16px;
    animation: svg-glitch-effect-2 5s infinite step-end alternate-reverse;
}

$steps: 10;
$initPercent: 38;
$percentOffset: 14;

@keyframes svg-glitch-effect-1{
    #{$initPercent - 1}%{
     clip-path: inset(100% 100% 100% 100%);
    }
    @for $i from 0 through $steps{
        #{percentage(($initPercent + $i / $steps * $percentOffset) / 100)}{
            clip-path: inset(percentage(random(50) / 100) percentage(random(50) / 100) percentage(random(50) / 100) percentage(random(50) / 100));
            z-index: random(20);
        }
    }
    #{$initPercent + $percentOffset + 1}%{
     clip-path: inset(100% 100% 100% 100%);
    }
}

@keyframes svg-glitch-effect-2{
    #{$initPercent - 1}%{
     clip-path: inset(100% 100% 100% 100%);
    }
    @for $i from 0 through $steps{
        #{percentage(($initPercent + $i / $steps * $percentOffset) / 100)}{
            clip-path: inset(percentage(random(50) / 100) percentage(random(50) / 100) percentage(random(50) / 100) percentage(random(50) / 100));
            z-index: random(20);
        }
    }
    #{$initPercent + $percentOffset + 1}%{
     clip-path: inset(100% 100% 100% 100%);
    }
}

@keyframes svg-glitch-move-effect{
    $offset: 16;
    #{$initPercent - 1}%{
        left: 0;
        top: 0;
    }
    @for $i from 0 through $steps{
        #{percentage(($initPercent + $i / $steps * $percentOffset) / 100)}{
            left: random($offset) - $offset / 2 + px;
            top: random($offset) - $offset / 2 + px;
        }
    }
    #{$initPercent + $percentOffset + 1}%{
        left: 0;
        top: 0;
    }
}

@function polygonPercentages($steps) {
    $result: "";
    @for $_ from 0 through $steps - 1 {
        $result: $result + percentage(random(100) / 100) + " " + percentage(random(100) / 100) + ", ";
    }
    $result: $result + percentage(random(100) / 100) + " " + percentage(random(100) / 100);

    @return $result;
}

